# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# MemoryCaptures
[Mm]emoryCaptures/

# Recordings
[Rr]ecordings/

# Asset meta data
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity Package Manager
/[Pp]ackages/packages-lock.json

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# TextMeshPro
[Aa]ssets/TextMesh*Pro/Resources/Fonts & Materials/*.mat

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vs/
.vscode/
*.swp
*.swo

# Swap file
/swapfile

# Неиспользуемые ассеты (перемещены из Assets/~Disabled)
DisabledAssets/
